psutil

# Core Backend & API
fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
requests
python-multipart

# AI & Machine Learning
torch
numpy
scikit-learn
joblib

# Auth
python-jose[cryptography]
passlib[bcrypt]
python-dotenv

# Network & Real-time
scapy
websockets
httpx
redis

# Visualization & Utils
urllib3
